:root{
    --border-color: grey;
}

.container{
    display: flex;
    justify-content: center;
}

.calc{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas: 
    "display display display display"
    "signs signs signs signs"
    "number number number equal"
    "number number number equal"
    "number number number equal"
    "number number number equal";
}

.display{
    grid-area: display;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-align: right;
    background-color: grey;
    color: white;
    padding: 10px;
    font-size: large;
}

.signs{
    grid-area: signs;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 4fr);
    background-color: rgba(196, 205, 212, 0.795);
    font-weight: bolder;
}

.number{
    grid-area: number;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    justify-items: center;
    align-items: center;
    background-color: rgba(244, 245, 245, 0.795)
}

.equal{
    grid-area: equal;
    border: 1px solid var(--border-color);
    border-bottom-right-radius: 10px;
    display: grid;
    justify-items: center;
    align-items: center;
    font-weight: bolder;
    background-color: rgb(227, 74, 74);
}

.signs div, .number div{
    text-align: center;
    border: 1px solid var(--border-color);
    height: 50px;
    width: 50px;
    display: grid;
    justify-items: center;
    align-items: center;
    font-weight: bolder;
}

#zero{
    border-bottom-left-radius: 10px;
}
